* {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

html {
    font-size: 16px;
}

body {
    background-color: #e2e2dd;
}

header {
    background-color: #646e52;
    color: #e2e2dd;
    text-align: center;
    padding: 20px;
}

.count-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
    border: 2px dotted #646e52;
}

h1 {
    font-size: 2rem;
}

h2 {
    background-color: #646e52;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: #e2e2dd;
    margin: 24px 0;
}

h3 {
    font-size: 1.5rem;
    color: #26201c;
}

button {
    background-color: #26201c;
    color:#e2e2dd;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    margin: 24px 0;
}